@import "tailwindcss";

:root {
  --accent: #31adff;
  --accent-secondary: #75acff;

  --text-neon: #63ceff;

  --disabled-bg: #0f1729;
  --disabled-border: #48526c;

  --border: #1e2a45;

  --bg: #0f1729
}

body {
  background: black;
}

html, body {
  border-radius: 20px
}